@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');


.my-text {
  font-family: 'Bowlby One', sans-serif;
  
}
.marquee-text {
  display: inline-block;
  
  font-weight: 800;
  font-size: 4rem; /* adjust to your Tailwind 6xl */
  animation: marquee 10s linear infinite;

}

@keyframes marquee {
  0% { 
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0px);
  }
}